/* background jumbotron */
.backgorund {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.top {
  background-color: #e3f2fd;
  height: 300px;
}

/* content jumbotron */
.jumbotron {
  height: 340px;
  margin-bottom: 150px;
  z-index: 1;
}

/* jumbotron image */
.people {
  width: 100%;
}

/* media queries */
@media screen and (min-width: 768px) {
  /* content jumbotron */
  .jumbotron {
    display: block;
    margin-bottom: -90px;
  }

  /* jumbotron quotes */
  .quotes {
    display: none;
  }

  /* jumbotron image */
  .people {
    display: block;
  }
}
