/* navigation bar */
.navbar {
  background-color: #e3f2fd;
  padding-top: 15px;
}

.image {
  padding-right: 5px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.title img {
  height: 50px;
  margin-right: 10px;
}

.login {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

@media (max-width: 575.98px) {
  NavbarBrand img {
    hide: 1;
  }
}
